.button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    

    &--green {
        background-color: $cat-green;
        color: #ffffff;
        &:hover,
        &:active {
        background-color: $cat-green-dark;
        }
        &:active span{
        opacity: 0.3;
    }
    }

    @media (min-width: $tablet-width) {
        height: 52px;
        font-size: 20px;
        line-height: 20px;
    }
}