.example {
    @include container();
    background-color: $cat_grey;
    padding-top: 30px;
    padding-bottom: 35px;

    &__wrapper {
        @include inner_container();
    }

    &__header {
        margin: 0;
        margin-bottom: 30px;
    }

    &__list {
        @include list_reset();
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 35px;
    }

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 122px;
        height: 54px;
        border: 1px solid #cdcdcd;
        border-radius: 3px;
    }

    &__data {
        display: flex;
        flex-direction: column;
    }

    &__value {
        display: block;
        margin-bottom: 5px;
        font-size: 24px;
        line-height: 24px;
        font-weight: normal;
        text-transform: uppercase;
    }

    &__unit {
        position: absolute;
        width: 68px;
        bottom: -15px;
        left: 50%;
        transform: translate(-50%);
        padding: 0 10px;
        @include small_text();
        text-align: center;
        background-color: $cat_grey;
    }

    &__description {
        @include paragraph_text();
    }

    &__price {
        @include upper14_text();
        line-height: 20px;
        text-align: center;
        margin-bottom: 35px;
        br {
            display: none;
        }
    }

    &__photo-container {
        position: relative;
    }

    &__photo_before {
        position: absolute;
        top: 7px;
        width: 311px;
        left: -20px;
        overflow: hidden;
    }

    &__photo_after {
        box-sizing: border-box;
        width: 311px;
        transform: translateX(-20px);
        overflow: hidden;
        padding-left: 43px;
        
    }

    &__range {
        position: relative;
        margin-top: 35px;
        p {
            @include upper16_text();
        }

        &::before,
        &::after {
            position: absolute;
            @include upper16_text();
            color: #000000;
            top: -5px;
        }
        &::before {
            content: "Было";
            top: -4px;
            left: 44px;
        }
        &::after {
            content: "Стало";
            top: -4px;
            right: 39px;
        }
    }

    &__range-control {
        display: block;
        margin: 0 auto;
        overflow: hidden;
        -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
        width: 100%; /* Specific width is required for Firefox. */
        background: transparent; /* Otherwise white in Chrome */
        outline: none;
        width: 72px;
        height: 6px;
        border-top: 3px solid #ffffff;
        border-right: 3px solid #ffffff;
        border-bottom: 3px solid #ffffff;
        border-left: 3px solid #ffffff;
        border-radius: 6px;
        padding: 0;
        box-shadow: 0 0 0 1px #cdcdcd;

        &:focus {
            outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
        }

        &::-ms-fill-lower {
            background-color: $cat-green;
            border: none;
            height: 6px;
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;
        }

        &::-ms-fill-upper {
            background-color: #ffffff;
        }

        &::-ms-thumb {
            height: 6px;
            width: 6px;
            border-radius: 6px;
            background-color: $cat-green;
            border: none;
            cursor: pointer;
        }

        &::-ms-track {
            color: transparent; /* Убираем линейку */
            border: none; /* Убираем рамку */
            background-color: #fff;
        }

        &::-ms-tooltip {
            display: none;
        }

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            height: 6px;
            width: 6px;
            border-radius: 6px;
            background-color: $cat-green;
            border: none;
            cursor: pointer;
            box-shadow: -65px 0 0 62px $cat-green;
        }

        &::-webkit-slider-runnable-track {
            cursor: pointer;
            -webkit-appearance: none;
            background-color: #ffffff;
            border: none;
            height: 6px;
        }

        &::-moz-range-thumb {
            // height: 0;
            // width: 0;
            // border: none;
            // cursor: pointer;
            height: 6px;
            width: 6px;
            border-radius: 6px;
            background-color: $cat-green;
            border: none;
            cursor: pointer;
            box-shadow: -65px 0 0 62px $cat-green;
        }

        &::-moz-range-track {
            min-width: 6px;
            height: 6px;
            background-color: #ffffff;
            border: none;
            cursor: pointer;
        }

        &::-moz-range-progress {
            min-width: 6px;
            background-color: $cat-green;
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
            height: 6px;
        }

        // &::-webkit-slider-thumb {
        //     -webkit-appearance: none; /* Override default look */
        //     appearance: none;
        //     width: 25px; /* Set a specific slider handle width */
        //     height: 25px; /* Slider handle height */
        //     background: #4caf50; /* Green background */
        //     cursor: pointer; /* Cursor on hover */
        // }

        // &::-moz-range-thumb {
        //     width: 25px; /* Set a specific slider handle width */
        //     height: 25px; /* Slider handle height */
        //     background: #4caf50; /* Green background */
        //     cursor: pointer; /* Cursor on hover */
        // }
    }

    @media (min-width: $tablet-width) and (max-width: 1199px) {
        &__data {
            flex-direction: row;
        }

        &__unit {
            background-color: #ffffff;
        }

        &__price {
            text-align: right;
            br {
                display: inline;
            }
        }
    }

    @media (min-width: $tablet-width) {
        background: linear-gradient(to right, $cat_grey 50%, #eaeaea 50%);
        background-position: 0 50%;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 68px;

        &__header {
            margin-bottom: 58px;
        }

        &__description {
            margin-bottom: 56px;
        }

        &__data {
            justify-content: space-between;
            margin-bottom: 86px;
        }

        &__list {
            justify-content: flex-start;
            flex-wrap: wrap;
            align-content: center;
            margin-bottom: 0;
        }

        &__item {
            width: 160px;
            height: 70px;
            margin-right: 42px;
        }

        &__value {
            font-size: 30px;
            line-height: 37px;
        }

        &__unit {
            width: auto;
            white-space: nowrap;
            bottom: -6px;
            padding: 0 8px;
            font-size: 14px;
            line-height: 14px;
        }

        &__price {
            font-size: 20px;
            line-height: 30px;
            padding-top: 7px;
            margin-bottom: 0;
        }

        &__range {
            margin-top: 5px;
            box-shadow: none;
            &::before,
            &::after {
                color: #000000;
                top: -16px;
            }
            &::before {
                content: "Было";
                top: 5px;
                left: 70px;
            }
            &::after {
                content: "Стало";
                top: 5px;
                right: 70px;
            }

            &::before,
            &::after {
                padding: 6px 0;
                border-bottom: 1px dotted #bebebe;
            }

            &:hover::before,
            &:hover::after {
                border-bottom: 1px solid #989898;
            }

            &:active::before,
            &:active::after {
                border-bottom: 1px transparent;
            }
        }

        &__photo_before {
            top: 18px;
            left: 16px;
            width: 677px;
        }

        &__photo_after {
            transform: translateX(16px);
            padding: 0;
            width: 677px;
        }

        &__range-control {
            width: 432px;
            height: 44px;
            background-color: transparent;
            border: none;
            padding: 0 2px;
            box-shadow: none;
            overflow: visible;

            &::-ms-fill-lower,
            &::-ms-fill-upper {
                background-color: #dcdcdc;
                height: 6px;
                border: 14px transparent;
                border-radius: 6px;
            }

            &::-ms-thumb {
                height: 32px;
                width: 32px;
                border-radius: 50%;
                background: radial-gradient($cat-green 4px, #ffffff 4px);
                border: 1px solid #dcdcdc;
                cursor: pointer;
                box-shadow: 0 2px 5px 0 #aaaaaa;
                margin: 0 2px;
            }

            &::-ms-track {
                color: transparent; 
                border: none;
                background: none;
                width: 428px;
                margin: 0 auto;
            }

            &::-webkit-slider-thumb {
                height: 32px;
                width: 32px;
                border-radius: 50%;
                background: radial-gradient($cat-green 4px, #ffffff 4px);
                border: 1px solid #dcdcdc;
                cursor: pointer;
                box-shadow: 0 2px 5px 0 #aaaaaa;
                margin: 0 2px;
                transform: translate(-2px, -13px);
            }

            &::-webkit-slider-runnable-track {
                background-color: #dcdcdc;
                height: 6px;
                border: 14px transparent;
                border-radius: 6px;
            }

            &::-moz-range-thumb {
                height: 32px;
                width: 32px;
                border-radius: 50%;
                background: radial-gradient($cat-green 4px, #ffffff 4px);
                border: 1px solid #dcdcdc;
                cursor: pointer;
                box-shadow: 0 2px 5px 0 #aaaaaa;
                margin: 0 2px;
            }

            &::-moz-range-track {
                background-color: #dcdcdc;
                height: 6px;
                border: 14px transparent;
                border-radius: 6px;
            }

            &::-moz-range-progress {
                background-color: #dcdcdc;
            }
        }
    }

    @media (min-width: $desktop-width) {
        background: linear-gradient(#ffffff 26%, $cat_grey 26%);
        padding: 0;
        margin-bottom: 0;

        &__wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        &__container {
            width: 436px;
        }

        &__photo-container {
            // width: 568px;
            width: 677px;
        }

        &__header {
            margin-top: 60px;
            margin-bottom: 148px;
        }

        &__list {
            margin-bottom: 60px;
        }

        &__data {
            margin-bottom: 0;
        }

        &__price {
            display: flex;
            justify-content: space-between;
            width: 327px;
            padding: 0;
            margin-bottom: 76px;
        }

        &__range {
            margin-top: 45px;
            margin-left: 109px;
            &::before {
                left: 2px;
            }
            &::after {
                right: 2px;
            }
        }
    }
}
