.main-contacts {
    @include container();
    position: relative;
    
    &_grey {
        background-color: $cat-grey;
    }
    &__information {
        @include inner_container-form();
        padding-top: 30px;
        // height: 114px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 27px;

        // p {
        //     margin: 0;
        // }
    }

    &__invitation {
        @include upper16_text();
        max-width: 124px;
        
    }

    &__address {
        max-width: 136px;
        
        @include paragraph_text();
        line-height: 20px;
        margin: 0;
        font-style: normal;
        
    }

    &__map {
        height: 362px;
        overflow: hidden;
    }

    @media (max-width: $mobile-width-only) {
        &__address {
            br:first-child {
                display: none;
            }
        }
    }

    @media (min-width: $tablet-width) {
        &__information {
            padding-top: 63px;
            padding-bottom: 61px;
        }

        &__invitation {
            max-width: 155px;
            line-height: 25px;
        }

        &__address {
            max-width: 155px;
            text-align: right;
            line-height: 20px;
        }

        &__map {
            height: 396px;
        }
    }

    @media (min-width: $desktop-width) {
        &__information {
            position: absolute;
            width: 409px;
            background-color: #ffffff;
            left: 110px;
            top: 95px;
            padding-left: 76px;
            padding-right: 85px;
            margin: 0;
        }

        &__adress {
            text-align: left;
        }

        &__map {
            height: 400px;
        }
    }
}
