.main-footer {
    @include container();
    background-color: $cat_grey;

    &__wrapper {
        width: 280px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }

    &__container {
        @include menu_bottom();
    }

    &__social {
        @include list_reset();
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        width: 125px;
        height: 62px;
    }

    &__htmla {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 78px;
        font-family: Arial, sans-serif;
        font-size: 16px;
        line-height: 16px;
        color: #000000;
        text-decoration: none;
    }

    &__social-icon,
    &__htmla {
        svg {
            fill: #686868;
        }

        &:hover,
        &:active {
            svg {
                fill: $cat-green;
            }
        }

        &:active {
            opacity: 0.3;
        }
    }

    &__brand {
        display: block;
        margin: 35px auto;
        &:hover {
            opacity: 0.8;
        }

        &:active {
            opacity: 0.6;
        }
    }

    
}
