.main-footer {
    @include container();
    background-color: $cat_grey;

    &__wrapper {
        @include inner_container();
        display: flex;
        flex-direction: column;
    }

    &__social {
        @include list_reset();
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        width: 125px;
        height: 62px;
    }

    &__htmla {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 78px;
        font-family: Arial, sans-serif;
        font-size: 16px;
        line-height: 16px;
        text-decoration: none;
    }

    &__htmla {
        color: #444444;

        svg {
            fill: #666666;
        }
    }

    &__social-icon {
        svg {
            fill: #686868;
        }
    }

    &__social-icon {
        position: relative;
        &:before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }

    &__social-icon,
    &__htmla {
        display: flex;
        align-items: center;
        &:hover,
        &:active {
            svg {
                fill: $cat-green;
            }
        }

        &:before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }

        &:active {
            opacity: 0.3;
        }
    }

    &__brand {
        display: block;
        margin: 35px auto;
        &:hover {
            opacity: 0.8;
        }

        &:active {
            opacity: 0.6;
        }
    }

    @media (max-width: $mobile-width-only) {
        &__container {
            @include menu_bottom();
        }
    }

    @media (min-width: $tablet-width) {
        &__wrapper {
            flex-direction: row;
            flex-wrap: wrap;
            height: 150px;
            justify-content: space-between;
            align-items: center;
        }

        &__brand {
            margin: 0 auto;
        }

        &__htmla {
            height: auto;
            width: 162px;
        }

        &__social-icon {
            &--vk {
                svg {
                    width: 30px;
                    height: 16px;
                }
            }

            &--inst {
                svg {
                    width: 23px;
                    height: 23px;
                }
            }

            &--fb {
                svg {
                    width: 14px;
                    height: 28px;
                }
            }
        }
    }
}
