.page-header {
    @include container();
    &__wrapper {
        display: flex;
        flex-direction: column;
    }

    &__logo,
    &__brand {
        display: block;
        margin: auto;

        &:hover {
            opacity: 0.8;
        }

        &:active {
            opacity: 0.6;
        }
    }

    @media (max-width: $mobile-width-only) {
        &__logo-wrapper {
            position: relative;
            display: flex;
            justify-content: space-around;
            min-height: 65px;
            @include menu_bottom();
        }

        &__logo {
            position: absolute;
            left: 20px;
            top: 12px;
            &-header {
                text-align: center;
            }
        }
    }

    @media (min-width: $tablet-width) {
        &__wrapper {
            @include inner_container();
            flex-direction: row;
            justify-content: space-between;
        }

        &__brand {
            display: none;
        }

        &__logo-image {
            margin-top: 24px;
            width: 173px;
            height: 58px;
        }
    }

    @media (min-width: $desktop-width) {
        background-origin: padding-box;
        background-color: $cat-green;
        background-size: 720px 696px;
        background: url("../img/index-background-desktop.jpg");
        background-repeat: no-repeat;
        background-position: top right;
        
        &__logo-image {
            margin-top: 54px;
            width: 202px;
            height: 59px;
        }
    }
}

