.program-carts {
    

    &__cart {
        padding: 21px;
        padding-top: 24px;
        background-color: #f2f2f2;
        margin-bottom: 20px;
    }

    &__header {
        position: relative;
        margin: 0;
        margin-top: 5px;
        margin-bottom: 30px;
        padding-left: 71px;
        &::before,
        &::after {
            position: absolute;
            top: -5px;
            left: 0;
        }

        &::before {
            content: "";
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: $cat-green;
        }

        &--down {
            &::after {
                transform: scale(-1, 1);
                top: -6px;
                left: 8px;
                content: url("../img/cat_weight_down.svg");
                height: 49px;
                width: 35px;
            }
        }
        &--up {
            &::after {
                top: 5px;
                left: -9px;
                content: url("../img/cat_weight_up.svg");
                height: 28px;
                width: 67px;
            }
        }
    }

    &__description {
        padding-bottom: 22px;
        padding-right: 13px;
        margin-bottom: 17px;
        @include paragraph_text();
        @include menu_bottom();
    }

    &__link {
        position: relative;
        @include upper16_text();
        line-height: 16px;
        color: #000000;
        text-decoration: none;

            &::before {
                position: absolute;
                content: "";
                width: 18px;
                height: 2px;
                background-color: #000000;
                top: 11px;
                right: -28px;
            }
    
            &::after {
                position: absolute;
                content: "";
                top: 7px;
                right: -30px;
                border: 5px solid #ffffff;
                border-right-width: 0;
                border-left-color: #000000;
                border-top-color: transparent;
                border-bottom-color: transparent;
            }

        &:hover,&:active {
            &::before {
                width: 22px;
                right: -32px;
            }
            &::after {
                right: -34px;
            }
        }

        &:active {
            opacity: 0.3;
        }
        }
        
        
    
}
