.program-carts {
    @include inner_container();

    &__cart {
        position: relative;
        padding: 21px;
        padding-top: 29px;
        background-color: #f2f2f2;
        margin-bottom: 30px;
        box-sizing: border-box;

        &::before,
        &::after {
            position: absolute;
            top: 25px;
            left: 22;
        }

        &::before {
            content: "";
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: $cat-green;
        }

        &--down {
            &::after {
                transform: scale(-1, 1);
                top: 24px;
                left: 30px;
                content: url("../img/cat_weight_down.svg");
                height: 49px;
                width: 35px;
            }
        }
        &--up {
            &::after {
                top: 35px;
                left: 13px;
                content: url("../img/cat_weight_up.svg");
                height: 28px;
                width: 67px;
            }
        }
    }

    &__header {
        margin: 0;
        margin-bottom: 30px;
        padding-left: 71px;
    }

    &__description {
        padding-bottom: 22px;
        padding-right: 13px;
        margin-bottom: 17px;
        @include paragraph_text();
    }

    &__link {
        position: relative;
        @include upper16_text();
        line-height: 16px;
        color: #000000;
        text-decoration: none;

        &::before {
            position: absolute;
            content: "";
            width: 18px;
            height: 2px;
            background-color: #000000;
            top: 11px;
            right: -28px;
        }

        &::after {
            position: absolute;
            content: "";
            top: 7px;
            right: -30px;
            border: 5px solid #ffffff;
            border-right-width: 0;
            border-left-color: #000000;
            border-top-color: transparent;
            border-bottom-color: transparent;
        }

        &:hover,
        &:active {
            &::before {
                width: 22px;
                right: -32px;
            }
            &::after {
                right: -34px;
            }
        }

        &:active {
            opacity: 0.3;
        }
    }

    @media (max-width: $mobile-width-only) {
        &__description {
            @include menu_bottom();
        }
    }

    @media (min-width: $tablet-width) {
        margin-bottom: 48px;
        &__cart {
            padding-left: 52px;
            padding-top: 75px;
            padding-bottom: 60px;
            margin-bottom: 30px;
            min-height: 372px;
            &::before,
            &::after {
                left: auto;
            }

            &::before {
                width: 200px;
                height: 200px;
                top: 91px;
                right: 60px;
            }

            &--down {
                &::after {
                    top: 80px;
                    right: 90px;
                    height: 196px;
                    width: 140px;
                }
            }
            &--up {
                &::after {
                    top: 135px;
                    right: 30px;
                    height: 112px;
                    width: 268px;
                }
            }
        }

        &__header {
            padding-left: 0;
            margin-bottom: 24px;
        }

        &__description {
            width: 376px;
            margin-bottom: 60px;
            padding: 0;
        }
        &__link {
            &::before {
                top: 14px;
                right: -38px;
            }

            &::after {
                top: 10px;
                right: -40px;
            }

            &:hover,
            &:active {
                &::before {
                    right: -42px;
                }
                &::after {
                    right: -44px;
                }
            }
        }
    }

    @media (min-width: $desktop-width) {
        margin-bottom: 76px;
        &__wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        &__cart {
            width: 570px;
            padding-right: 72px;
            padding-bottom: 60px;

            &::before,
            &::after {
                left: 52px;
            }

            &::before {
                width: 100px;
                height: 100px;
                top: 47px;
            }

            &--down {
                &::after {
                    top: 41px;
                    left: 66px;
                    height: 88px;
                    width: 70px;
                }
            }
            &--up {
                &::after {
                    top: 69px;
                    left: 34px;
                    height: 56px;
                    width: 134px;
                }
            }
        }

        &__header {
            padding-left: 164px;
            margin-bottom: 75px;
        }

        &__description {
            width: auto;
            margin-bottom: 36px;
            // margin-bottom: 60px;
        }
    }
}
