.program-form {
    @include container();

    &__description {
        @include upper14_text();
        line-height: 18px;
        @include inner_container-form();
        margin-bottom: 40px;
    }

    &__header {
        margin-bottom: 33px;
    }

    &__cat-data,
    &__select,
    &__owner-data,
    &__additional-list {
        border: none;
    }

    &__select,
    &__owner-data,
    &__additional-list {
        padding: 0;
    }

    &__cat-data,
    &__select {
        @include menu_bottom();
    }

    &__cat-data {
        margin-bottom: 23px;
        padding-bottom: 23px;
    }

    &__select {
        padding-bottom: 22px;
    }

    &__additional-list {
        padding-bottom: 34px;
    }

    &__cat,
    &__contacts,
    &__comments {
        margin-bottom: 30px;
    }

    &__list,
    &__button-wrapper {
        @include list_reset();
        @include upper16_text();
        line-height: 18px;
        @include inner_container-form();
        label {
            white-space: nowrap;
        }
    }

    &__button {
        width: 100%;
        margin-bottom: 22px;
    }

    &__legend {
        @include paragraph_text();
        text-transform: none;
        line-height: 16px;
        text-align: center;
        margin-bottom: 33px;
    }

    &__title {
        margin-bottom: 33px;
    }

    &__textarea {
        textarea {
            @include upper16_text();
            box-sizing: border-box;
            line-height: 18px;
            color: #444444;
            padding: 12px 13px;
            width: 100%;
            border: 1px solid $line-grey;
            height: 150px;
            margin: 0;
            &:hover {
                border-color: #cdcdcd;
            }
            &:active,
            &:focus {
                border: 2px solid #444444;
            }
        }
    }

    &__input {
        display: flex;
        align-items: center;

        &_text {
            input {
                @include upper16_text();
                line-height: 18px;
                color: #444444;
                box-sizing: border-box;
                padding: 0 14px;
                display: block;
                width: 100%;
                border: 1px solid $line-grey;
                &:hover {
                    border-color: #cdcdcd;
                }
                &:active,
                &:focus {
                    border: 2px solid #444444;
                    + svg {
                        fill: $cat-green;
                    }
                }
            }

            &:not(:last-child) {
                margin-bottom: 14px;
            }

            input {
                height: 45px;
            }
        }

        &_radio,
        &_checkbox {
            height: 30px;
            &:not(:last-child) {
                margin-bottom: 13px;
            }

            input {
                + label {
                    position: relative;
                    padding-left: 46px;
                    &::before {
                        position: absolute;
                        content: "";
                        width: 30px;
                        height: 30px;
                        border: 1px solid #cecece;
                        left: 0;
                        top: -6px;
                    }
                }
                &:checked {
                    + label {
                        &::after {
                            position: absolute;
                        }
                    }
                }
            }
        }

        &_radio {
            input {
                + label {
                    &::before {
                        border-radius: 50%;
                    }
                    &:hover::before {
                        border: 1px solid #bcbcbc;
                    }
                    &:active {
                        opacity: 0.3;
                    }
                }
                &:checked {
                    + label {
                        &::after {
                            content: "";
                            width: 12px;
                            height: 12px;
                            border-radius: 50%;
                            background-color: $cat-green;
                            left: 10px;
                            top: 4px;
                        }
                    }
                }
            }
        }

        &_checkbox {
            input {
                &:checked {
                    + label {
                        &::after {
                            content: url("../img/checkbox.svg");
                            width: 21px;
                            height: 16px;
                            left: 6px;
                            top: 2px;
                        }
                    }
                }
            }
        }

        &-tel,
        &-mail {
            position: absolute;
            fill: #444444;
        }

        &-mail {
            right: 16px;
            top: 17px;
        }

        &-tel {
            right: 13px;
            top: 13px;
        }
    }

    &__container {
        display: block;
        width: 100%;
        margin: 0;
        margin-left: 12px;
        position: relative;

        &_area {
            margin: 0;
        }
    }

    @media (min-width: $tablet-width) {
        &__description {
            @include upper16_text();
            line-height: 30px;
            margin-bottom: 70px;
        }

        &__cat-data,
        &__owner-data,
        &__additional-list {
            border: none;
        }

        &__cat-data {
            padding: 0;
            margin-bottom: 72px;
        }

        &__select &__list {
            border: 1px solid $line-grey;
            padding: 25px 0;
            li {
                padding-left: 28px;
            }
        }

        &__select {
            padding: 0;
            border: none;
            margin-bottom: 75px;
        }

        &__title {
            br {
                display: none;
            }
            white-space: pre;
        }

        &__title {
            margin-bottom: 75px;
        }

        &__cat,
        &__contacts,
        &__comments {
            margin-bottom: 70px;
        }

        &__cat {
            @include inner_container-form();
        }

        &__additional &__title {
            margin-bottom: 55px;
        }

        &__additional-list &__list,
        &__button-wrapper {
            display: flex;
            flex-wrap: wrap;
        }

        &__button-wrapper {
            align-items: center;
            margin-bottom: 72px;
        }

        &__button {
            height: 52px;
            width: 283px;

            margin: 0;
            margin-right: 60px;
        }

        &__legend {
            line-height: 16px;
            margin: 0;
        }

        &__additional-list {
            padding-bottom: 22px;
        }

        &__container {
            margin-left: 19px;
            &_area {
                margin: 0;
            }
        }

        &__textarea {
            textarea {
                height: 174px;
            }
        }

        &__input {
            &_text {
                input {
                    height: 52px;
                    padding: 0 19px;
                }
                &:not(:last-child) {
                    margin-bottom: 20px;
                }
            }

            &_radio,
            &_checkbox {
                height: 40px;

                input {
                    + label {
                        padding-left: 60px;
                        &::before {
                            width: 40px;
                            height: 40px;
                            border: 1px solid #cecece;
                            left: 0;
                            top: -12px;
                        }
                    }
                }
            }

            &_radio {
                input {
                    &:checked {
                        + label {
                            &::after {
                                width: 18px;
                                height: 18px;
                                top: 0;
                                left: 12px;
                            }
                        }
                    }
                }
            }

            &_checkbox {
                min-width: 283px;
                &:nth-child(odd) {
                    margin-right: 60px;
                    margin-bottom: 32px;
                }

                input {
                    &:checked {
                        + label {
                            &::after {
                                left: 11px;
                                top: 0;
                            }
                        }
                    }
                }
            }

            &-mail {
                right: 20px;
                top: 21px;
            }

            &-tel {
                right: 17px;
                top: 17px;
            }
        }
    }

    @media (min-width: $desktop-width) {
        &__cat {
            display: flex;
            justify-content: space-between;
        }

        &__cat &__list,
        &__owner-data li {
            width: 570px;
        }

        &__owner-data &__list {
            display: flex;
            justify-content: space-between;
        }

        &__owner-data &__input {
            margin: 0;
        }

        &__owner-data li {
            margin: 0;
        }

        &__button-wrapper {
            margin-bottom: 82px;
        }

        &__button {
            width: 568px;
            margin-right: 82px;
        }
        &__input {
            &_checkbox {
                min-width: 225px;
                &:not(:last-child) {
                    margin-right: 100px;
                }
            }
        }
    }
}
