@mixin no-outline() {
    outline: none;
    background: transparent;
    &::before {
        display: none;
    }
}

@mixin menu_bottom() {
    border-bottom: 1px solid $line-grey;
}

@mixin container() {
    width: 320px;
    margin: 0 auto;
    @media (min-width: $tablet-width) {
        width: 768px;
    }
    @media (min-width: $desktop-width) {
        width: 1440px;
    }
}

@mixin inner_container() {
    width: 280px;
    margin: 0 auto;
    @media (min-width: $tablet-width) {
        width: 708px;
    }
    @media (min-width: $desktop-width) {
        width: 1220px;
    }
}

@mixin inner_container-form() {
    width: 280px;
    margin: 0 auto;
    @media (min-width: $tablet-width) {
        width: 631px;
    }
    @media (min-width: $desktop-width) {
        width: 1220px;
    }
}

@mixin small_text() {
    font-family: Arial, sans-serif;
    font-size: 12px;
    line-height: 12px;
    @media (min-width: $tablet-width) {
        font-size: 16px;
    }
}

@mixin paragraph_text() {
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    @media (min-width: $tablet-width) {
        font-size: 16px;
        line-height: 24px;
    }
}

@mixin list_reset() {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

@mixin upper14_text() {
    font-size: 14px;
    text-transform: uppercase;
    // margin: 0;
}

@mixin upper16_text() {
    @include upper14_text();
    font-size: 16px;
    line-height: 20px;
    @media (min-width: $tablet-width) {
        font-size: 20px;
    }
}
