@font-face {
  font-weight: normal;
  font-family: "Oswald";
  font-style: normal;
  src: url("../fonts/Oswald-Regular.woff2") format("woff2"), url("../fonts/Oswald-Regular.woff") format("woff");
}

// @import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

/* clears the 'X' from Internet Explorer */
input::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

body {
  border: 1px solid black;
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 25px;
  font-family: "Oswald", sans-serif;
  color: #000000;
  font-style: normal;
  background-color: #ffffff;
}

// img {
//     max-width: 100%;
//     height: auto;
// }

h2 {
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
  // for ie11
  width: 100%;
}

h4 {
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
  @media (min-width: $tablet-width) {
    font-size: 36px;
  }
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title-decorated {
  margin: 0;
  text-transform: none;
  span {
    position: relative;
    display: inline-block;
    background-color: #ffffff;
    padding: 0 20px;

    &::before {
      z-index: -1;
      position: absolute;
      content: "";
      width: 320px;
      height: 3px;
      left: 0;
      top: 14px;
      background-color: $cat-green;
    }
  }

  @media (min-width: $mobile-width-only) {
    .title-decorated {
      span {
        max-width: 181px;
      }
    }
  }

  @media (min-width: $tablet-width) {
    margin-left: 30px;
    span {
      max-width: fit-content;
      padding: 0 41px;
      &::before {
        width: 768px;
        left: -30px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    margin-left: 70px;
    span {
      &::before {
        width: 1440px;
        left: -70px;
      }
    }
  }
}

// .page-main {
//   @include container();
//   border: 1px solid black;
// }
